*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

                        This is a private computer system.

                        Unauthorized access is prohibited.

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

               -@                     /\            | |
              .##@                   /  \   _ __ ___| |__
             .####@                 / /\ \ | '__/ __| '_ \
             @#####@               / ____ \| | | (__| | | |
           . *######@             /_/    \_\_|  \___|_| |_|
          .##@o@#####@
         /############@          This computer system is private property and
        /##############@         for authorized use only. Users have no
       @######@**%######@        explicit or implicit expectation of privacy.
      @######`     %#####o
     @######@       ######%                       (__)
   -@#######h       ######@.`                     (oo)
  /#####h**``       `**%@####@              /------\/
 @H@*`                    `*%#@            / |    ||
*`                            `*          *  /\---/\
                                             ~~   ~~
                                        ...."Have you mooed today?"...

        wreiner.at - relaying useless spam since 2005-07-15 ..
        Host: {{ inventory_hostname }}{% if not inventory_hostname.endswith('wreiner.at') %}.wreiner.at{% endif %}

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
