*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

                        This is a private computer system.

                        Unauthorized access is prohibited.

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

                 ..                   ____                  _      ___    ____  
               .PLTJ.                / ___|   ___   _ __   | |_   / _ \  / ___| 
              <><><><>              | |      / _ \ | '_ \  | __| | | | | \___ \ 
     KKSSV' 4KKK LJ KKKL.'VSSKK     | |___  |  __/ | | | | | |_  | |_| |  ___) |
     KKV' 4KKKKK LJ KKKKAL 'VKK      \____|  \___| |_| |_|  \__|  \___/  |____/ 
     V' ' 'VKKKK LJ KKKKV' ' 'V
     .4MA.' 'VKK LJ KKV' '.4Mb.
   . KKKKKA.' 'V LJ V' '.4KKKKK .     This computer system is private property
 .4D KKKKKKKA.'' LJ ''.4KKKKKKK FA.   and for authorized use only. Users have no
<QDD ++++++++++++  ++++++++++++ GFD>  explicit or implicit expectation of privacy.
 'VD KKKKKKKK'.. LJ ..'KKKKKKKK FV
   ' VKKKKK'. .4 LJ K. .'KKKKKV '                      (__)  
      'VK'. .4KK LJ KKA. .'KV'                         (oo)
     A. . .4KKKK LJ KKKKA. . .4                  /------\/
     KKA. 'KKKKK LJ KKKKK' .4KK                 / |    ||
     KKSSA. VKKK LJ KKKV .4SSKK                *  /\---/\
              <><><><>                            ~~   ~~
               'MKKM'                         ...."Have you mooed today?"...
                 ''

        wreiner.at - relaying useless spam since 2005-07-15 ..
        Host: {{ inventory_hostname }}{% if not inventory_hostname.endswith('wreiner.at') %}.wreiner.at{% endif %}

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
