*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

                        This is a private computer system.

                        Unauthorized access is prohibited.

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

         _sudZUZ#Z#XZo=_         DDDD   EEEEEE BBBB   IIIIII  AAAA   NN   NN
      _jmZZ2!!~---~!!X##wa       DD DD  EE     BB BB    II   AA  AA  NNN  NN
   .<wdP~~            -!YZL,     DD  DD EEEEE  BBBBB    II   AAAAAA  NNNN NN
  .mX2'       _%aaa__     XZ[.   DD  DD EE     BB  BB   II   AA  AA  NN NNNN
  oZ[      _jdXY!~?S#wa   ]Xb;   DDDD   EEEEEE BBBBB  IIIIII AA  AA  NN   NN
 _#e'     .]X2(     ~Xw|  )XXc
.2Z`      ]X[.       xY|  ]oZ(   This computer system is private property and
.2#;      )3k;     _s!~   jXf`   for authorized use only. Users have no
 1Z>      -]Xb/    ~    __#2(    explicit or implicit expectation of privacy.
 -Zo;       +!4ZwaaaauZZXY'
  *#[,        ~-?!!!!!!-~                         (__)
   XUb;.                                          (oo)
    )YXL,,                                  /------\/
      +3#bc,                               / |    ||
        -)SSL,,                           *  /\---/\
           ~~~~~                             ~~   ~~
                                         ...."Have you mooed today?"...

        wreiner.at - relaying useless spam since 2005-07-15 ..
        Host: {{ inventory_hostname }}{% if not inventory_hostname.endswith('wreiner.at') %}.wreiner.at{% endif %}

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
